*.egg-info
*.py[co]
.cache
.coverage
.eggs
.idea
.mypy_cache
.npmignore
.runway
.secrets
.serverless
.terraform
.venv
.vscode/bookmarks.json
artifacts/*
build
cdk.out
dist
docs/source/_build
docs/source/apidocs
node_modules
postinstall.js
preuninstall.js
src/*
tmp/*
